.mi-clase-de-color {
    background-color:rgba(243, 237, 237, 0.993);
    display: flex;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 30px; /* Establece el espacio de separación vertical deseado */
  }

  .Dim_logo_close {
    width: 30px;
    height: 30px ;
  }

  .center-title {
    text-align: center;
    width: 100%;
  }
  .custom-card {
    text-align: center; /* Para centrar el texto */
  }

  .custom-card h1 {
    color: black; /* Para cambiar el color del título a negro */
  }
  
  .custom-card p {
    color: black; /* Para cambiar el color del párrafo a negro */
  }

  .center-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
     /* Asegurarse de que ocupe toda la altura disponible */
  }